<?xml version="1.0" encoding="UTF-8"?>
<!-- 對於各個節點的理解可根據英文原意進行解釋，這是最好的方式 -->
<!-- XML文件，版本1.0，編碼UTF8，該説明衹可放置于標記之下 -->
<!-- web-app:web應用程序根節點 -->
<!-- xmlns:xsi即xml命名空間的xml規範實例方式 -->
<!-- xmlns:xml命名空間類型 -->
<!-- xsi:schemaLocation:xml規範實例的規範位置 -->
<!-- id:web應用的標記 -->
<!-- version:web應用服務器的版本 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!-- web項目名稱 -->
	<display-name>own</display-name>
	<!-- web項目歡迎首頁文件列表 -->
	<welcome-file-list>
		<!-- 首頁文件，具有先後順序， 放置于目錄WEB-INF/下，與本xml文件同目錄 -->
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- <listener>
		<listener-class>org.springframework.context.ContextLoaderListener</listener-class>
	</listener> -->
</web-app>